/*Fonts*/
@font-face {
    font-family: SF-pro;
    src: url(./fonts/SF-Pro-Display-Light.otf);
}
/*Universal*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SF-pro;
}

/*Header*/
header a{
    font-size: 14px;
}
.message_box{
    padding: 5px 0;
}